</div>
<footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; thisisvedprakash@gmail.com</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/import/jquery/jquery.min.js"></script>
  <script src="/import/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>