<header class="bg-primary py-2 mb-5 bg-dark">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-lg-12">
            <h1 class="display-4 text-white mt-5 mb-2">Password Reset Testing</h1>
            <!--<p class="lead mb-5 text-white-50">Text </p>-->
          </div>
        </div>
      </div>
    </header>

    <div class="container">