<!Doctype html>

<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        
      
        <title>NodeApp </title>
      
        <link href="/import/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      
        <link href="/public/css/Style.css" rel="stylesheet">
      
      </head>

    