<%- include("../_Partials/_header.ejs"); %>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">NodeJS App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/about">About</a>
            </li>
            
            <% if(currentUser != null) { %>
            <li class="nav-item">
              <a class="nav-link" href="#">Welcome <%= currentUser.username %> !</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Log Out</a>
            </li>
            <% } %>
            
            <% if(currentUser == null) { %>
            <li class="nav-item">
              <a class="nav-link" href="/login">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
            <% } %> 
            
          </ul>
        </div>
      </div>
    </nav>

    
    <%- include("../_Partials/_header1.ejs"); %> 
  



    <H1>About Page</H1>
    <H3>About Page for Password Reset Test</H3>
    <H5>This app has been made to test password reset automation <BR>
    <H5>APIs and packages used - <BR><BR>
      Active Directory"   <BR> 
      PowerShell  <BR>   
      Windows Server 2019   <BR>   
      bcryptjs: "^2.4.3",<BR>
      body-parser: "^1.19.0",<BR>
      bootstrap: "^4.5.0",<BR>
      connect-flash: "^0.1.1",<BR>
      cookie-parser: "^1.4.5",<BR>
      csv-write-stream: "^2.0.0",<BR>
      ejs: "^3.1.3",<BR>
      express: "^4.17.1",<BR>
      express-session: "^1.17.1",<BR>
      jquery: "^3.5.1",<BR>
      mongoose: "^5.9.25",<BR>
      nodemon: "^2.0.4",<BR>
      passport: "^0.4.1",<BR>
      passport-local: "^1.0.0",<BR>
      path: "^0.12.7",<BR>
      router: "^1.3.5"   <BR> 
        <BR> 

    
    </H5>



    


<%- include("../_Partials/_footer.ejs"); %>