<% if(currentUser != null) { %>

<%- include("../_Partials/_header.ejs"); %>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">NodeJS App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            
            <% if(currentUser != null) { %>
            <li class="nav-item">
              <a class="nav-link" href="#">Welcome <%= currentUser.username %> !</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Log Out</a>
            </li>
            <% } %>
            
            <% if(currentUser == null) { %>
            <li class="nav-item">
              <a class="nav-link" href="/login">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
            <% } %> 
            
          </ul>
        </div>
      </div>
    </nav>

    <%- include("../_Partials/_header1.ejs"); %> 



    <H1>Home Page</H1>

    

        
    

    <!-- Header -->
  <!--<header class="bg-primary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">Business Name or Tagline</h1>
          <p class="lead mb-5 text-white-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non possimus ab labore provident mollitia. Id assumenda voluptate earum corporis facere quibusdam quisquam iste ipsa cumque unde nisi, totam quas ipsam.</p>
        </div>
      </div>
    </div>
  </header>-->

  <!-- Page Content -->
  <div class="container">

    
    <!-- /.row -->

    <div class="row">
      <div class="col-md-8 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="/images/Login.png" alt="">
          <div class="card-body">
            <hr>
            <form class="user" method="POST" action="/resetwinp">
             

              <h3> Password will be reset within 2 minutes, hence kindly try after 2 minutes.<br>
              Please contact Support Team if it still does not work.</h3>

              <hr>
            </form>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="/images/Logo.png" alt="">
          
          <div class="card-body">
            <hr>
            <h4 class="card-title">Extra Space</h4>
            <p class="card-text">Proxy and other config coming up here!</p>
            
          </div>
          
          <div class="card-footer">
            
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->


    <div class="row">
      <div class="col-md-8 mb-5">
        <h2>Extra Info</h2>
        <hr>
        <p>To be added later ! To be added later ! To be added later ! To be added later ! To be added later ! To be added later ! To be added later ! To be added later !</p>
        <p>To be added later ! To be added later ! To be added later ! To be added later ! To be added later ! To be added later ! To be added later ! To be added later !</p>
        <a class="btn btn-primary btn-lg" href="#">Call to Action &raquo;</a>
      </div>
      <div class="col-md-4 mb-5">
        <h2>Contact </h2>
        <hr>
        <address>
          <strong>Ved Prakash</strong>
          <br>IT Support 
          <br>
        </address>
        <address>
          <abbr title="Phone">P:</abbr>
          +971 55 322 4507
          <br>
          <abbr title="Email">E:</abbr>
          <a href="mailto:#">thisisvedprakash@gmail.com</a>
        </address>
      </div>
    </div>

  </div>
  <!-- /.container -->  

  


<%- include("../_Partials/_footer.ejs"); %>

<% } %>


<% if(currentUser == null) { %>

  <%- include("../home/index.ejs"); %>

<% } %>

