<%- include("../_Partials/_header.ejs"); %>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/">NodeJS App</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/home">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              
              <% if(currentUser != null) { %>
              <li class="nav-item">
                <a class="nav-link" href="#">Welcome <%= currentUser.username %> !</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
              </li>
              <% } %>
              
              <% if(currentUser == null) { %>
              <li class="nav-item">
                <a class="nav-link" href="/login">Log In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li>
              <% } %> 
              
            </ul>
          </div>
        </div>
      </nav>
  
      <%- include("../_Partials/_header1.ejs"); %> 

    <H1>Good Day !</H1>
    <H3>Landing Page for Password Reset Test</H3>
    <H5>This app has been made to test password reset automation <BR>
        Login or Register to see more content.<BR>

          <BR>
          <BR>  
          <BR>
          <BR>  
          <BR>
          <BR>  
          <BR>
          <BR> 
          <BR>
          <BR>  
          <BR>
          <BR> 
          <BR>
          <BR>  
          <BR>
          <BR>     
    </H5>
    


<%- include("../_Partials/_footer.ejs"); %>
