<%- include('../_partials/_header'); -%>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">NodeJS App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            
            <% if(currentUser != null) { %>
            <li class="nav-item">
              <a class="nav-link" href="#">Welcome <%= currentUser.username %> !</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Log Out</a>
            </li>
            <% } %>
            
            <% if(currentUser == null) { %>
            <li class="nav-item  active">
              <a class="nav-link" href="/login">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
            <% } %> 
            
          </ul>
        </div>
      </div>
    </nav>

    <%- include("../_Partials/_header1.ejs"); %> 


<div class="col-md-8">
    <div class="panel panel-default">

        <div class="panel-heading">
            <h3>Log In</h3>
        </div>
        <div class="panel-body">
            <form class="user" method="POST" action="/login">
                <div class="form-group">
                  <input type="text" class="form-control form-control-user" id="username" aria-describedby="emailHelp" placeholder="Enter User ID..." name="username">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control form-control-user" id="password" placeholder="Password" name="password">
                </div>
                <div class="form-group">
                  <div class="custom-control custom-checkbox small">
                    <input type="checkbox" class="custom-control-input" id="customCheck">
                    <label class="custom-control-label" for="customCheck">Remember Me</label>
                  </div>
                </div>
                <input class="btn btn-primary btn-user btn-block" type="submit" value="Sign In" >
                <hr>
                
              </form>
        </div>
    </div>
</div>

<%- include('../_partials/_footer'); -%>

