<!--<%- include('../_partials/_header'); -%>

<div class="col-md-8">
    <div class="panel panel-default">

        <div class="panel-heading">
            <h3>Log In</h3>
        </div>
        <div class="panel-body">
            <form class="form-signin" method="POST" action="/resetwinp">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">@</span>
                    <input type="text" class="form-control" placeholder="Email" name="email" aria-describedby="basic-addon1">
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock"
                            aria-hidden="true"></span></span>
                    <input type="password" class="form-control" placeholder="Password" name="password" aria-describedby="basic-addon1">
                </div>

                <input type="submit" class="btn btn-default navbar-btn" value="Reset" />

            </form>
        </div>
    </div>
</div>

<%- include('../_partials/_footer'); -%>-->

